* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
  }
  @import "../scss/components/navbar";
  @import "../scss/components/carrousel-index";
  @import "../scss/components/flecha-presales";
  @import "../scss/components/carrousel-presales";
  @import "../scss/components/separadores-index";
  @import "../scss/components/consoles";
  @import "../scss/components/soon";
  @import "../scss/components/footer";
  @import "../scss/components/login";
  @import "../scss/components/news";
  @import "../scss/components/easports";
  @import "../scss/components/limited";
  @import "../scss/components/filter-consoles";
  @import "../scss/components/store";
  